/*-------- body ------------*/
html{
    box-sizing:border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after{
    box-sizing: inherit
}

/* .main{
    width: 800px;
    margin: 0 auto;
} */

body{
    margin: 0;
    padding: 0;
}

body .feedback{
    display: inline;
    padding: 10px;

    /* float: right; */
    background:dimgrey;
    position: fixed;
    bottom:100px;
    right: -22px;
    transform: rotate(270deg)
}

.content-wrap{
    max-width: 800px;
    width: 85%;
    margin: 0 auto;
    padding: 40px 0;
}

h1, h2, h3 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    margin: 0;
  }

h1{
    font-size:70px;
}

h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.image{
    width: 100%;
    height: auto;
}

.divider>div{
    border-bottom: 2px dashed #343434;
    padding-bottom: 10px;
}

.divider>div:last-of-type{
    border-bottom: none;
}

.flex-list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: rows;
    justify-content: center;
}


/*-------- header ------------*/
header{
    /* text-align: center; */
    background: cadetblue;
}

header a{
    padding: 0 10px;
}

header h2{
    margin-bottom: 0;
}

/*-----------nav bar---------------*/
.nav-bar{
    background:darkcyan;
    position: sticky;
    top: 0px;
    
}
.nav-bar .content-wrap{
    padding: 10px 0;
}

.nav-bar .content-wrap .flex-list{
    margin: 0;
}

.nav-bar .flex-list a{
    flex: 0 0 100px;
    text-align: center;
    background:rgb(0, 138, 138);
    padding: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    
}

.nav-bar .flex-list a:hover{
    background: rgba(16, 214, 228, 0.8);
}

/*-------- introduction ------------*/
.introduction{
background:chocolate;
}

.introduction p{
    margin: 0;
}


/*-------- projects ------------*/
.projects{
    background-color: cornflowerblue;
    
}

.projects .image{
    width: 300px;
    border: 2px solid black;
}

.project-item{
    /* overflow: hidden; */
    display: flow-root;
    
}


/*-------- experience ------------*/
.experience{
    background: darkgray;
}

.experience-layout h3{
    margin-left: 25px;
}


.experience-layout h3:last-of-type{
    margin-left: 25px;
    border-bottom: 2px dashed;
    font-size: 15px;
}






/*-------- education ------------*/
.education{
    background-image: url("../images/joannakosinskaunsplash.jpg");
    background-size:cover;
    background-position: top right;
}

.education p{
    width: 60%;
}

/*-------- footer ------------*/
.footer{
    background: darkorange;
}

footer .content-wrap{
    padding: 10px 0;
}


footer li{
    padding: 0 20px;
}
footer a{
    text-decoration: none;
}


/* ----------------- Responsive -------------- */

@media screen and (min-width:650px){
    header{
        text-align: center;
    }
    .projects .image{
        float: left;
        width: 300px;
        margin-right: 20px;
        border: 2px solid black;
    }

    .experience-layout{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
   
}

@media screen and (max-width:650px){
    h1{
        font-size:50px;
    }

    .flex-list{
        font-size: 12px;
    }
}
